
<!DOCTYPE html>
<html ng-app="ngHR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EZY-HR</title>
    <link href="@Url.Content("~/bower_components/bootstrap/dist/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/bower_components/font-awesome/css/font-awesome.css")" rel="stylesheet" />
    <link href="@Url.Content("~/bower_components/Ionicons/css/ionicons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/dist/css/AdminLTE.css")" rel="stylesheet" />
    <link href="@Url.Content("~/dist/css/skins/_all-skins.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/bower_components/morris.js/morris.css")" rel="stylesheet" />
    <link href="@Url.Content("~/bower_components/jvectormap/jquery-jvectormap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css")" rel="stylesheet" />
    <link href="@Url.Content("~/dist/style.css?v=1")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/tree-control.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/angular-bootstrap-calendar.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/datetimepicker.css")" rel="stylesheet" />
    @*<link href="@url.content("~/css/angularjs-datetime-picker.css")" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    
     <style type="text/css">
        .class_checkbox {
            width: 20px;
            height: 20px;
            display: inline-block;
            *display: inline;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            width: 18px;
            height: 18px;
            background: url(../images/blue.png) no-repeat;
            border: none;
            cursor: pointer;
        }

            .class_checkbox.checked {
                display: inline-block;
                *display: inline;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                width: 18px;
                height: 18px;
                background-position: -40px 0 !important;
                border: none;
                cursor: pointer;
                background-position: -80px 0;
            }

        .rdoCss {
            width: 20px;
            height: 20px;
            display: inline-block;
            *display: inline;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            width: 18px;
            height: 18px;
            background: url(../images/blue.png) no-repeat;
            border: none;
            cursor: pointer;
            background-position: -120px 0 !important;
        }

            .rdoCss.checked {
                display: inline-block;
                *display: inline;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                width: 18px;
                height: 18px;
                background-position: -40px 0 !important;
                border: none;
                cursor: pointer;
                background-position: -140px 0 !important;
            }

        .select2-selection, .select2-selection--single {
            padding-top: 5px !important;
            border-bottom-width: 1px !important;
            border-top-width: 1px !important;
            padding-left: 0px !important;
            border-color: #D2D6DE !important;
            height: 30px !important;
            line-height: 30px !important;
        }

        /*font-face {
          font-family: 'FontAwesome';
          src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
          src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
               url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
          font-weight: normal;
          font-style: normal;
        }*/

        @@font-face {
            font-family: 'proximanovalight';
            src: url('../fonts/proximanovalight.eot');
            src: local('proximanovalight'), url('../fonts/proximanovalight.woff') format('woff'), url('../fonts/proximanovalight.ttf') format('truetype');
        }



        select {
            padding-bottom: 0px;
            padding-left: 0px;
            height: 30px;
            width: 216px;
            padding-top: 0px;
            padding-right: 0px;
            border-right-width: 1px;
            border-left-width: 1px;
        }

        .modal-header {
            background-color: #3c8dbc;
        }

        .modal-title {
            color: #fff;
        }
    </style>
    <style type="text/css">
        input[type=text].error, input[type=password].error, textarea.error, select.error {
            border: 1px solid red;
        }

        label.error {
            display: none !important;
        }
    </style>

    <!-- End of layout top -->
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-controller="layOutController">
    @*sidebar-mini*@
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>HR</b></span>
                <span class="logo-lg"><i class="fa fa-diamond" aria-hidden="true"></i>&nbsp;EZY-HR</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <span style="padding-top: 15px; color: #fff;" class="pull-left">Loggedin Branch <b style="font-size: 15px;"></b></span>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                    {{User.UserID }}
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    @*<img src="" class="img-circle"  />*@
                                    <p>
                                        {{User.UserID }}

                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-flat" ng-click="onClickLogOut()">LogOut</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">

                        <a href="#">
                            <i class="fa fa-asterisk" aria-hidden="true"></i><span>Company</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li>
                                <a data-ui-sref="Company">
                                    <i class="fa fa-branch"></i>Company
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i><span>DashBoard</span> <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a data-ui-sref="ActivitySummary">
                                    <i class="fa fa-calculator"></i>Activity Summary
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-asterisk" aria-hidden="true"></i><span>Master Data</span> <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a ui-sref="EmployeeDesgination">&nbsp;Employee Desgination</a></li>
                            <li><a ui-sref="EmployeeDepartment">&nbsp;Employee Department</a></li>
                            <li><a ui-sref="EmployeeType">&nbsp;Employee Type</a></li>
                            <li><a ui-sref="PaymentType">&nbsp;Payment Type</a></li>
                            <li><a ui-sref="LeaveType">&nbsp;Leave Type</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-fighter-jet" aria-hidden="true"></i><span>Quotation</span> <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Quotation/StandardRateProfile?quotationNo=STANDARD&amp;isLink=True"><i class="fa fa-link"></i>&nbsp;Standard Quotation</a></li>
                            <li><a href="/Quotation/CustomerQuotationList"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Customer Tariff</a></li>
                            <li><a href="/Quotation/SupplierQuotationList">&nbsp;<i class="fa fa-male" aria-hidden="true"></i>&nbsp;Supplier Tariff</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-exchange" aria-hidden="true"></i><span>Transaction</span><span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Operation/PurchaseOrderList"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;Purchase Order</a></li>
                            <li><a href="/Operation/GoodsReceiveList"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Goods Receive</a></li>
                            <li><a href="/Operation/Orders">&nbsp;<i class="fa fa-sticky-note" aria-hidden="true"></i>&nbsp;Sales Entry</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-credit-card-alt" aria-hidden="true"></i><span>Billing</span> <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Billing/InvoiceList"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Invoice</a></li>
                            <li><a href="/Billing/InvoiceApproval"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Invoice Approval</a></li>
                            <li><a href="/Billing/UnbilledInvoices"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Unbilled Invoices</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-search" aria-hidden="true"></i><span>Inquiry</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Operation/StockInquiry"><i class="fa fa-stack-exchange" aria-hidden="true"></i>&nbsp;Stock Inquiry</a></li>
                            <li><a href="/Billing/InvoiceInquiry">&nbsp;<i class="fa fa-info" aria-hidden="true"></i>&nbsp;Invoice Inquiry</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pie-chart" aria-hidden="true"></i><span>Reports</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Reports/DailySalesReport"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Daily Sales</a></li>
                            <li><a href="/Reports/ProfitAndLossReport"><i class="fa fa-balance-scale" aria-hidden="true"></i>&nbsp;Profit &amp; Loss</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-sliders" aria-hidden="true"></i><span>Leave</span><span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a ui-sref="HolidayList"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;HolidayList</a></li>
                            <li><a ui-sref="EmployeeLeave"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Employee Leave Form</a></li>

                            <li><a href="/User/RoleRights"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Role Rights</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        @RenderBody()
        <footer class="main-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="hidden-xs">
                        <b>Version</b> 1.0.0
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <p>&copy; 2017 - <a href="#">Ezy-HR</a> </p>
                </div>
            </div>
        </footer>


    </div>

    <div id="myModalTest" class="modal fade" role="dialog">
        <div id="myModalTestInnerDiv" class="modal modal-success">
            <div class="modal-dialog modal-sm dialog-Meassage">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="modalHeader" class="modal-title" style="color:white">Modal Header</h4>
                    </div>
                    <div class="modal-body dialog-Meassage-body">
                        <p id="pmodalid">Records saved successfully.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="BtnOK()" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalTest2" class="modal fade" role="dialog">
        <div id="myModalTestInnerDiv2" class="modal modal-success">
            <div class="modal-dialog modal-sm dialog-Meassage">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="modalHeader2" class="modal-title" style="color:white">Modal Header</h4>
                    </div>
                    <div class="modal-body dialog-Meassage-body">
                        <p id="pmodalid2">Records saved successfully.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalDialog" class="modal fade" role="dialog">
        <div id="confirmDialog" class="modal modal-warning">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" aria-label="Close" data-dismiss="modal" type="button">&times;</button>
                        <h4 class="modal-title" style="color:white">ALERT!</h4>
                    </div>
                    <div class="modal-body">
                        <p id="pWarning">Do you want to Save the Record?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="BtnConfirmOK()" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- script files -->
    <!-- jQuery 3 -->
    <script src="@Url.Content("~/bower_components/jquery/dist/jquery.min.js")"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="@Url.Content("~/bower_components/jquery-ui/jquery-ui.min.js")"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
    <!-- Morris.js charts -->
    <script src="@Url.Content("~/bower_components/raphael/raphael.min.js")"></script>

    <!-- Sparkline -->
    <script src="@Url.Content("~/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js")"></script>
    <!-- jvectormap -->
    <script src="@Url.Content("~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js")"></script>
    <script src="@Url.Content("~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js")"></script>
    <!-- jQuery Knob Chart -->
    <script src="@Url.Content("~/bower_components/jquery-knob/dist/jquery.knob.min.js")"></script>
    <!-- daterangepicker -->
    <script src="@Url.Content("~/bower_components/moment/min/moment.min.js")"></script>
    <script src="@Url.Content("~/bower_components/bootstrap-daterangepicker/daterangepicker.js")"></script>
    <!-- datepicker -->
    <script src="@Url.Content("~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="@Url.Content("~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")"></script>
    <script src="@Url.Content("~/bower_components/morris.js/morris.min.js")"></script>
    <!-- Slimscroll -->
    <script src="@Url.Content("~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/bower_components/fastclick/lib/fastclick.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/dist/js/adminlte.min.js")"></script>
    <script src="@Url.Content("~/dist/js/pages/dashboard.js")"></script>
    <script src="@Url.Content("~/scripts/angular.js")"></script>
    <script src="@Url.Content("~/scripts/datetimepicker.js")"></script>
    <script src="@Url.Content("~/scripts/dateTimeInput.js")"></script>
    <script src="@Url.Content("~/scripts/app.js")"></script>
    <script src="@Url.Content("~/scripts/angular-ui-router.js")"></script>
    <script src="@Url.Content("~/scripts/angular-bootstrap-calendar-tpls.min.js")"></script>
    <script src="@Url.Content("~/scripts/ui-bootstrap.js")"></script>
    <script src="@Url.Content("~/scripts/ui-bootstrap-tpls.min.js")"></script>
    <script src="@Url.Content("~/scripts/loading-bar.js")"></script>
    <script src="@Url.Content("~/scripts/angular-animate.js")"></script>
    <script src="@Url.Content("~/scripts/ocLazyLoad.js")"></script>
    <script src="@Url.Content("~/scripts/angular-tree-control.js")"></script>
    <script src="@Url.Content("~/scripts/angular-aria.js")"></script>
    <script src="@Url.Content("~/scripts/angular-material.min.js")"></script>
    <script src="@Url.Content("~/scripts/angular-growl.js")"></script>
    <script src="@Url.Content("~/scripts/calendar.js")"></script>
    <script src="@Url.Content("~/scripts/services.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap-growl.min.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap-growl.js")"></script>


    <!-- End Script files -->
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~/")';
        angular.module('ngHR').controller('layOutController', ['$scope', '$http', function ($scope, $http) {
            $scope.init = function () {
                $scope.User = JSON.parse(sessionStorage.getItem("User"));
            }
            $scope.onClickLogOut = function () {
                $http.get("/Login/LogOut").then(function (res) {
                    if (res.data && res.data.success == true) {
                        window.location.pathname = '';
                    }

                })
            }
            $scope.init();

        }]);

    </script>
</body>
</html>
