
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <title>EZY-HR Admin</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link rel="manifest" href="~/img/manifest.json">
    <link rel="mask-icon" href="~/img/safari-pinned-tab.svg" color="#5bbad5">
    <link href="@Url.Content("~/Css/app_1.min.css?v=1")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/material-design-iconic-font.css?v=1")" rel="stylesheet" />
    <link href="@Url.Content("~/bower_components/font-awesome/css/font-awesome.css")" rel="stylesheet" />
</head>
<body>
    <form ng-class="{'submitted': submitted}" name="loginForm">
        <div class="login-content" ng-app="loginApp" ng-controller="loginController">
            <!-- Login -->
            <div class="lc-block toggled" id="l-login">
                <div class="lcb-form">
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Username" ng-model="User.UserName" ng-required="true" focus-on="UserName">
                        </div>
                    </div>
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                        <div class="fg-line">
                            <input type="password" class="form-control" placeholder="Password" ng-model="User.Password" ng-required="true">
                        </div>
                    </div>
                   
                    <button type="submit" class="btn btn-login btn-success btn-float" ng-click="login()" ng-disabled="IsEnable"><i class="zmdi zmdi-arrow-forward"></i></button>
                </div>
            </div>
            <div ng-if="showLoading" style="position: absolute;width: 100%;left: 0px;top: 15%;">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color:#fff;"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <data ui-view></data>
        </div>
    </form>
   
    
</body>
<script src="@Url.Content("~/scripts/angular.js")"></script>
<script src="@Url.Content("~/Js/Account/Controllers/LoginController.js")"></script>
<script src="@Url.Content("~/Js/Account/Services/LoginService.js")"></script>
<script src="@Url.Content("~/bower_components/jquery/dist/jquery.min.js")"></script>
<script src="@Url.Content("~/scripts/angular-growl.js")"></script>
<script src="@Url.Content("~/scripts/angular-ui-router.js")"></script>
<script src="@Url.Content("~/scripts/ocLazyLoad.js")"></script>
<script src="@Url.Content("~/scripts/ui-bootstrap.js")"></script>
<script src="@Url.Content("~/scripts/services.js")"></script>
<script src="@Url.Content("~/scripts/bootstrap-growl.min.js")"></script>
<script src="@Url.Content("~/scripts/bootstrap-growl.js")"></script>
<script src="@Url.Content("~/Js/Home/Controllers/HomeController.js")"></script>
<a src="@Url.Content("~/Views/Shared/_Layout.cshtml")"></a>
<script src="@Url.Content("~/scripts/app.js")"></script>