
@{
    ViewBag.Title = "Login";
}

@*<h2>Login</h2>*@

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <title>EZY-HR Admin</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link rel="manifest" href="~/img/manifest.json">
    <link rel="mask-icon" href="~/img/safari-pinned-tab.svg" color="#5bbad5">
    <link href="@Url.Content("~/Css/app_1.min.css?v=1")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/material-design-iconic-font.css?v=1")" rel="stylesheet" />
    <link href="@Url.Content("~/bower_components/font-awesome/css/font-awesome.css")" rel="stylesheet" />
</head>
<body>
    <form ng-class="{'submitted': submitted}" name="loginForm">
        <div class="login-content" ng-app="loginApp" ng-controller="loginController">
            <!-- Login -->
            <div class="lc-block toggled" id="l-login">
                <div class="lcb-form">
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Username" ng-model="UserName" ng-required="true">
                        </div>
                    </div>
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                        <div class="fg-line">
                            <input type="password" class="form-control" placeholder="Password" ng-model="Password" ng-required="true">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                            Keep me signed in
                        </label>
                    </div>
                    <button type="submit" class="btn btn-login btn-success btn-float" ng-click="login()" ng-disabled="IsEnable"><i class="zmdi zmdi-arrow-forward"></i></button>
                </div>
                <div class="lcb-navigation">
                    <a href="" data-ma-action="login-switch" data-ma-block="#l-register"><i class="zmdi zmdi-plus"></i> <span>Register</span></a>
                    <a href="" data-ma-action="login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
                </div>
            </div>
            <div ng-if="showLoading" style="position: absolute;width: 100%;left: 0px;top: 15%;">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color:#fff;"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <!-- Register -->
            <div class="lc-block" id="l-register">
                <div class="lcb-form">
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                    </div>
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Email Address" ng-required="true">
                        </div>
                    </div>
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                        <div class="fg-line">
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <a href="" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-check"></i></a>
                </div>
                <div class="lcb-navigation">
                    <a href="" data-ma-action="login-switch" data-ma-block="#l-login"><i class="zmdi zmdi-long-arrow-right"></i> <span>Sign in</span></a>
                    <a href="" data-ma-action="login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
                </div>
            </div>
            <!-- Forgot Password -->
            <div class="lc-block" id="l-forget-password">
                <div class="lcb-form">
                    <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Email Address">
                        </div>
                    </div>
                    <a href="" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-check"></i></a>
                </div>
                <div class="lcb-navigation">
                    <a data-ma-action="login-switch" data-ma-block="#l-login"><i class="zmdi zmdi-long-arrow-right"></i> <span>Sign in</span></a>
                    <a href="" data-ma-action="login-switch" data-ma-block="#l-register"><i class="zmdi zmdi-plus"></i> <span>Register</span></a>
                </div>
            </div>
        </div>
    </form>

    
</body>
<script src="@Url.Content("~/scripts/angular.js")"></script>
<script src="@Url.Content("~/Js/Account/Controllers/LoginController.js")"></script>
<script src="@Url.Content("~/Js/Account/Services/LoginService.js")"></script>
<script src="@Url.Content("~/scripts/angular-growl.js")"></script>
<script src="@Url.Content("~/scripts/services.js")"></script>
<script src="@Url.Content("~/scripts/bootstrap-growl.min.js")"></script>
<script src="@Url.Content("~/scripts/bootstrap-growl.js")"></script>


